.folder-link-wrapper {
  display: flex;
  align-items: flex-end;
}

.folder-link-wrapper * {
  padding: 10px;
  margin: 5px;
}

.folder-link {
  font-size: 2rem;
}

.edit-link {
  height: 50%;
  font-size: 0.75rem;
}
