.App {
  --custom-font: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 1fr 2.3fr;
  grid-template-rows: 120px 1fr;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.App * {
  text-decoration: none;
}

.App__header {
  color: #bdbdbd;
  font-family: var(--custom-font);
  grid-area: header;
  padding-left: 16px;
  padding-top: 32px;
  text-shadow: 2px 1px 2px black;
  width: 100%;
}

.App__header a {
  color: #bdbdbd;
}

.App__nav {
  color: rgb(52, 7, 177);
  grid-area: sidebar;
  height: 100vh;
  overflow: auto;
  flex-direction: column;
  width: 50%;
}

.main-content__wrapper {
  display: flex;
  flex-direction: row;
}

.App__main {
  grid-area: main;
  height: calc(100vh - 120px);
  width: 100vw;
  overflow: auto;
  flex-direction: row;
}
