.add-note-form {
  display: flex;
  flex-direction: column;
}

fieldset > div.add-title-content-folder {
  display: flex;
  flex-direction: column;
}

.add-title-content-folder * {
  width: 100%;
  padding: 10px;
  margin: 10px;
}
